.btn {
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-filled {
  background-color: #4b1e1e; 
  color: #fff;
  border: none;
}

.btn-outline {
  background-color: transparent;
  color: #4b1e1e;
  border: 2px solid #4b1e1e;
}


.btn:hover {
  opacity: 0.85;
}

.button-row {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 16px;
}
