.artisan-profile {
  background-color: #f5f5ee;
  color: #3a0b0b; 
  font-family: "Inter", sans-serif;
}

.artisan-profile a,
.artisan-profile p,
.artisan-profile span,
.artisan-profile h1,
.artisan-profile h2,
.artisan-profile h3,
.artisan-profile h4,
.artisan-profile h5,
.artisan-profile h6,
.artisan-profile small {
  color: #3a0b0b !important; 
.text-brown {
  color: #3a0b0b;
}

section .border {
  border-color: #eee !important;
}

section .bg-light {
  background-color: #f3f0ef !important;
}
